body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/* divide the page into sections using grid to .container */
.container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "navbar navbar navbar"
    "sidebar main cart";
  height: 100vh;
}

.sidebar {
  background-color: #f0f0f0;
  grid-area: sidebar;
}
.main {
  /* background-color: #EFF0F5; */
  background-color: white;
  grid-area: main;
  padding: 20px;
  overflow-y: auto;
}
.cart {
  background-color: #f0f0f0;
  grid-area: cart;
}

/* navbar styling */
.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f1f6;
  color: #4e637f;
}
.icon-container {
  display: flex;
  gap: 10px;
}
.navbar input {
  padding: 10px;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* main content styling */
.main .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  width: 250px;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card h3 {
  font-size: 1.5rem;
  margin: 4px 0px;
}
.card p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 4px 0px;
}
.card button {
  width: 60%;
  /* display: block; */
  margin:6px ;
  padding: 8px 10px;
  background-color:#1b5ec2;
  color: white;
  font-size: 13px;
  border: none;
  border-radius: 5px;

}
/* cart styling */
.cart {
  background-color: #f0f0f0;
  grid-area: cart;
  padding: 20px;
  border: 2px solid black;
  overflow-y: auto;
}
/* each cart item */
.cart-items {
    /* border: 2px solid black; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 2px;
  padding: 4px;
  border-bottom: 1px solid #ccc;
  /* place-items: center; */
  align-items: center;
  
}
/* cart item image */
.cart-items img {
    grid-row:span 2;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
/* cart item name */
.cart-items h3{
    margin:0;
    text-align: center;
    font-size: 15px;
}
/* cart item price */
.cart-items span{
    text-align: center;
    font-size: 15px;
}
/* cart items button increment and decrement */
.cart-items .buttons-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* increment and decrement button styling in cart */
.cart-items button{
    padding: 2px 8px;
    font-size: 13px;
}
/* item remove button styling */
.cart-items #remove-btn{
    background-color: #1b5ec2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
}